#!/bin/bash

timeslot=$(date +%Y-%m-%d-%H%M)

DEST="/home/{{ admin_user }}/postgres_maintenance/logs"
LOG_FILE="${DEST}/maintenance-${timeslot}.log"

mkdir -p ${DEST}
touch ${LOG_FILE}

databases=$(psql -qAtX template1 -c "SELECT datname FROM pg_database WHERE datallowconn ORDER BY pg_database_size(oid) desc")

for i in $databases; do
    timeinfo=`date '+%T %x'`
    echo "${timeinfo} - ${i} - Starting database maintenance." >> $LOG_FILE

    # Vacuum and analyze
    echo "${timeinfo} - ${i} -  Starting vacuum" >> $LOG_FILE
    /usr/bin/vacuumdb -z $i >/dev/null &>> $LOG_FILE

    timeinfo=`date '+%T %x'`
    echo "${timeinfo} - ${i} - Database maintenance complete on database" >> $LOG_FILE
done
